<p>
  A digital publication that...
  <br />
  <strong></strong>
</p>

<script>
  const texts = [
    "will make you fall in love with data",
    "is the best internet rabbit hole",
    "brings you hot takes on data",
    "makes cool shit with data",
  ];

  let index = 0;
  const textElement = document.querySelector("strong")!;
  textElement.textContent = texts[index];

  textElement.addEventListener("animationiteration", () => {
    index = (index + 1) % texts.length;
    textElement.textContent = texts[index];
    console.log(index);
  });
</script>

<style>
  strong {
    position: absolute;
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes animation {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }

    10% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
